/** Global style */

@import "./variables";

// Include bootstrap
@import "bootstrap/scss/bootstrap";

body {
    background-color: map-get($theme-colors, "light");
    text-decoration: none;
    .header, ul{
        display: flex;
    }
    ul{
        margin-left: 20%;
        li{
            margin-left: 10%;
            list-style: none;
        }
    }
}
